<script setup lang="ts">
import { type Product } from '@/types/Product'
import { type ReceiptItem } from '@/types/ReceiptItem'

import ProductList from '@/components/ProductList.vue'

import { nextTick, ref, provide } from 'vue'

import { useReceiptStore } from '@/stores/receipt'

import ReceiptDetailTable from './ReceiptDetailTable.vue'
import ReceiptCard from '@/components/ReceiptCard.vue'
import ReceiptDialog from './ReceiptDialog.vue'
const receiptStore = useReceiptStore()

const products1: Product[] = [
    {
        id: 1,
        name: 'ลาเต้',
        price: 35.0,
        type: 1
    },
    {
        id: 2,
        name: 'โกโก้',
        price: 30.0,
        type: 1
    },
    {
        id: 3,
        name: 'น้ำท่อม',
        price: 50.0,
        type: 1
    },
    {
        id: 4,
        name: 'น้าชา',
        price: 45.0,
        type: 1
    },
    {
        id: 5,
        name: 'น้ำเก๊กฮวย',
        price: 55.0,
        type: 1
    },
    {
        id: 6,
        name: 'น้ำส้ม',
        price: 25.0,
        type: 1
    },
    {
        id: 7,
        name: 'น้ำมะพร้าว',
        price: 35.0,
        type: 1
    },
    {
        id: 8,
        name: 'นม',
        price: 65.0,
        type: 1
    },
    {
        id: 9,
        name: 'ชานม',
        price: 55.0,
        type: 1
    }
]
const products2: Product[] = [
    {
        id: 1,
        name: 'ลาเต้',
        price: 35.0,
        type: 2
    },
    {
        id: 2,
        name: 'โกโก้',
        price: 30.0,
        type: 2
    }
]
const products3: Product[] = [
    {
        id: 1,
        name: 'ลาเต้',
        price: 35.0,
        type: 3
    },
    {
        id: 2,
        name: 'โกโก้',
        price: 30.0,
        type: 3
    },
    {
        id: 3,
        name: 'น้ำท่อม',
        price: 50.0,
        type: 3
    }
]

const selected = (p: Product) => {
    console.log('ProductView' + p)
    receiptStore.addReceiptItem(p)
    nextTick(() => {
        if (divReceiptItems.value) {
            divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)

        }
    })


}
const tab = ref(1)
const dialog = ref(false)

const divReceiptItems = ref<HTMLElement | null>(null)
const showReceipt = function () {
    receiptStore.showRecieptDialog()
}
provide('recriptDialog', dialog)

</script>

<template>
    <v-container>
        <v-row>
            <v-col cols="12" md="6" style="background-color: rgb(18, 91, 30)">
                <v-container style="padding: 0">
                    <v-row>
                        <v-col cols="12">
                            <div ref="divReceiptItem" style="height: 300; overflow: auto">
                                <v-sheet min-width="300" max-width="600" height="300" elevation="6" class="overflow-auto">
                                    <ReceiptDetailTable></ReceiptDetailTable>
                                </v-sheet>
                            </div>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="80" elevation="6">
                                <MemberCard></MemberCard>
                            </v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="100" elevation="6">
                                <ReceiptCard></ReceiptCard>
                            </v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="80" elevation="6"><v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-btn block rounded="xl" size="large">ยกเลิก</v-btn>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-btn block rounded="xl" size="large" color="primary"
                                                @click="showReceipt">ชำระเงิน</v-btn>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-sheet>
                        </v-col>
                    </v-row>
                </v-container>
            </v-col>
            <v-col cols="12" md="6" style="background-color: rgb(68, 46, 3)">
                <v-sheet min-width="300" max-width="600" height="600" elevation="6">
                    <v-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="center">
                        <v-tab :value="1">เครื่องดื่ม</v-tab>
                        <v-tab :value="2">ขนม</v-tab>
                        <v-tab :value="3">ของทานเล่น</v-tab>
                    </v-tabs>
                    <v-window v-model="tab">
                        <v-window-item :value="1">
                            <ProductList :products="products1" @selectedProduct="selected"></ProductList>
                        </v-window-item>

                        <v-window-item :value="2">
                            <ProductList :products="products2" @selectedProduct="selected"></ProductList>
                        </v-window-item>

                        <v-window-item :value="3">
                            <ProductList :products="products3" @selectedProduct="selected"></ProductList>
                        </v-window-item>
                    </v-window>
                </v-sheet>
            </v-col>
        </v-row>
    </v-container>
    <ReceiptDialog></ReceiptDialog>
</template>
  