<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt';
import { inject, type Ref } from 'vue';

const receiptStore = useReceiptStore()


</script>
<template>
 <v-dialog
v-model="receiptStore.recieptDialog"
persistent
width="auto"
>
<v-card>
  <v-card-title class="text-h5">
    Use Google's location service?
  </v-card-title>
  <v-card-text>{{ receiptStore.receipt }}</v-card-text>
  <v-card-actions>
    <v-spacer></v-spacer>
    <v-btn
      color="green-darken-1"
      variant="text"
      @click="receiptStore.recieptDialog = false"
    >
      Disagree
    </v-btn>
    <v-btn
      color="green-darken-1"
      variant="text"
      @click="receiptStore.recieptDialog = false,receiptStore.clear()"
    >
      Agree
    </v-btn>
  </v-card-actions>
</v-card>
</v-dialog>   
</template>
